*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #e9bd15;
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    letter-spacing: 0.15em;
    word-spacing: 0.25em;
}

 header {
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9bd15;
}

 .menu {
    text-decoration: none;
    color: #e9bd15;
    padding: 10px;
    margin-left: 1.5rem;
}

.banner-img {
    background: url('../img/design1_image1.jpg');
    padding: 220px 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.banner-img2{
    background: url('../img/design1_image2.jpg');
    padding: 220px 4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    color: #e9bd15;
    background-color: black;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #e9bd15;
}

.active {
    color:#000000;
    background:#5FA199;
}

/* Page About */

.container_about {
    text-align: justify;
}

.image_home, .image_about {
    transform: translate(200px,50px);
}

.h4_subtitle {
    font-style: oblique; 
    transform: translate(600px,-210px);
    font-size: 20px;
    list-style: none;
    padding: 8px;
    color: #5FA199;
}

.parrafo {
transform: translate(600px,-210px);
    font-size: 18px;
}

.h6_subtitle{
    width: 700px;
    transform: translate(600px,-210px);
    padding: 10px;
    font-size: 16px;
}
.subtitle{
    transform: translate(20px,-80px);
}
 
.flex_container{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    align-content: space-between;
}

.flex_container div {
    text-align: center;
    margin: 10px; 
    font-size: 20px;
}
.active_email{
    color:#5FA199;
}

/* Page Rules */

.container_rules {
    display: flex;
    position: relative;
    width: 75%;
    padding-left: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-bottom: 20px;
}

.subtitle_h3 {
    padding: 50px;
    color:#5FA199;
}
  
.rules_subtitle{
    color:#5FA199;
    font-size: 22px;
    width: 700px;
    justify-content: center;
    align-items: center;
}
.rules {
    color:#5FA199;
}

.parrafo_rules{
    font-weight: bold; 
    display: inline;
    color:#5FA199;
    letter-spacing: 0.25em;
    word-spacing: 0.3em;
}

.parrafo_inline{
    display: inline;
}

/* Game Info */

.container_game {
    display: flex;
    width: 90%;
    top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    padding-left: 11%;
}
.title_game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9bd15;
    color:#000000;
    padding:1%;
    letter-spacing: 7px;
}

.title_game1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.subtitle_game{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

table thead {
    width: 200px;     
    margin: 10px;
}

table th, table td{
    text-align:center;
    padding-bottom: 10px;
    border-bottom: 4px solid #e9bd15;
}

th{
    width: 150px;
    color:#5FA199;
}

.pie{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 75%;  
    padding-left: 15%;
    gap: 5px;
}

/* Registration Form */

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 80%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 320px;
    border: 0;
}

.text_condition{
    color:#5FA199;
    letter-spacing: 7px;
}

.condition{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}

.cuestions {
    font-weight: normal;
}

input[type="submit" i] {
    background-color: #e9bd15;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}




